*{padding:0px;margin:0px;}
#Show{
	width:100%;
	height:665px;
	background-image:url(../images/redbag.png);
	position:absolute;
}
#acenter{
	width:700px;
	height:400px;
	position:absolute;
	top:120px;
	left:320px;
}
.block{
	float:left;
	width:345px;
	height:200px;
	border:2px solid #FF0000;
}
a:link{opacity: 0.5;}
a:visited{opacity: 0.5;}
a:hover{opacity: 1;}
a:active{opacity: 1;}
#title{
	line-height:100px;
	font-size:40px;
	font-family:"楷体";
	color:white;
}
#autor{
	margin-top:470px;
	margin-left:1150px;
	width:150px;
	height:70px;
	font-family:"楷体";
	font-size:18px;
	color:white;
}