*{
	margin:0px;
	padding:0px;
}
a{text-decoration:none;}
#collegelogo{
	width:1335px;
	height:25px;
	margin:0px auto;
	background-color:white;
}
#cl1{
	width:100px;
	height:25px;
	float:left;
}
#cl2{
	line-height:30px;
	color:red;
	font-size:13px;
	font-family:"楷体";
	height:25px;
	float:left;
	margin-left:400px;
}
#cl3{
	line-height:30px;
	color:black;
	font-size:13px;
	font-family:"楷体";
	width:400px;
	height:25px;
	float:left;
	margin-left:160px;
}
#top{
	width:1332px;
	height:222px;
	border:1px solid grey;
	margin:0px auto;
	margin-top:3px;
	background-image:url(../images/top3.png);
}
#gsign{
	margin-left:40px;
	margin-top:25px;
	width:166px;
	height:166px;
	float:left;
}
#center{
	width:70%;
	height:1290px;
	border:1px solid black;
	margin:0px auto;
	background-color:white;
}
#banner{
	width:94%;
	height:31px;
	border:2px solid grey;
	background-image:url(../images/banner.png);
	color:grey;
	margin:0px auto;
}
#menu ul li{
	padding:6px;
	display:inline;
	font-size:14px; 
	line-height:32px;
	color:grey;
}
a:link{color:black;}
a:visited{color:black;}
a:hover{color:orange;}
a:active{color:green;}
#menu a:link{color:#595959;}
#menu a:visited{color:#595959;}
#menu a:hover{color:orange;}
#menu a:active{color:green;}
#ctopleft{
	margin-top:10px;
	width:435px;
	height:300px;
	border:2px solid grey;
	float:left;
}
#ctopright{
	margin-top:10px;
	width:435px;
	height:300px;
	border:2px solid grey;
	float:left;
}
#center{
	width:70%;
	height:340px;
	border:1px solid black;
	margin:0px auto;
	background-color:#EE9572;
}
#banner{
	width:94%;
	height:31px;
	border:2px solid grey;
	background-image:url(../images/banner.png);
	color:grey;
	margin:0px auto;
}
#bottom{
	width:100%;
	height:90px;
	background-color:black;
	border:2px solid grey;
	color:white;
}
.b1{
	line-height:30px;
	font-size:14px;
}
#lleft{
	margin-left:150px;
	margin-top:10px;
	width:19%;
	height:270px;
	float:left;
	border:2px solid grey;
	background-color:grey;
}
#lright{
	margin-top:10px;
	width:41%;
	height:270px;
	float:left;
	border:2px solid grey;
	background-color:#7EC0EE;
}
#liu{
	margin-top:10px;
	width:190px;
	height:250px;
	border:2px solid grey;
}
#bbq{
	margin-top:10px;
	margin-left:40px;
	color:black;
	float:left;
}
#normal{
	margin-top:2px;
	float:left;
}
.peo{
	font-family:"楷体";
}
.personintro{
	margin-bottom:7px;
	border-bottom:2px dotted  grey;
	width:190px;
}
#linen{
	text-indent:4em;
	float:left;
	width:355px;
	height:25px;
	border:1px solid grey;
	background-color:#FF7F00;
	color:black;
	font-size:14px;
	line-height:25px;
}
#text{
	float:left;
	width:357px; height:90px;
}
textarea{ resize:none; width:357px; height:90px;}
#tijiao{
	float:left;
	margin-left:325px;
}
